html {
  scroll-behavior: smooth;
}

section {
  height: auto;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #1a1a1a;
  text-decoration: none;
}

/* --------------------navbar----------------------------- */

.nav-section {
  height: auto;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  background-color: #1a1a1a;
  color: #fff;
  z-index: 99;
}

.nav-section .nav-brand-name {
  font-size: 1.5rem;
}

.nav-item {
  text-transform: capitalize;
  cursor: pointer;
}

.nav-link {
  color: #ffffff8c !important;
}

.nav-link:hover {
  color: #fff !important;
}

.nav-link.active {
  color: #fff !important;
}

/* -----------hero---------------- */
.showcase {
  background: url('https://images.pexels.com/photos/177557/pexels-photo-177557.jpeg')
    no-repeat center/cover;
  height: 400px;
}

.showcase .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcase .overlay input {
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 0 12px;
  margin: 5px;
}

.showcase .overlay .my-btn {
  height: 2rem;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  color: #fff;
  outline: none;
  border-radius: 2px;
  margin: 5px;
}

/* -------------------newsbody-------------------------- */

.for-select-option {
  border-radius: 2px;
  height: 2rem;
}

.dropdown-menu,
.dropdown-toggle {
  z-index: 90;
}

.dropdown-toggle {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -----------------------card-------------------------- */

.card-div {
  width: 100%;
  heigth: 100%;
  margin: 10px 0;
  border: 1px solid #888;
  border-radius: 5px;
  height: calc(100% - (2 * 10px));
  overflow-wrap: anywhere;
  overflow: hidden;
  position: relative;
}

.card-div a {
  cursor: default;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  align-items: baseline;
  width: 100%;
  height: 100%;
}

.card-div .card-div-body .card-div-heading span,
.card-div .card-div-body .card-div-para span,
.card-div .card-div-body .author-published span {
  cursor: text;
}

.star-div {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 2px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-radius: 2px;
  cursor: pointer;
  /* background-color: rgba(255, 255, 255, 0.7); */
}

.star-indiv {
  width: 25px;
  height: 25px;
  padding: 2px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 1s ease;
}

.star-indiv:hover {
  background-color: rgba(255, 255, 255, 1);
}

.card-image-div {
  width: 100%;
  aspect-ratio: 16/9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  background-color: #dfdfdfbd;
}

.card-div-img {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.card-div-body {
  padding: 16px;
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-row: span 4;
  grid-column: span 1;
  gap: 10px;
}

.card-div-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
}

.card-div-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.author-published {
  font-size: 0.8rem;
  font-weight: 400;
}

/* -------------pagination----------------- */

.page-item {
  cursor: pointer;
}

/* -----------------footer--------------- */
.footer-section {
  background-color: #1a1a1a;
  color: #fff;
  /* height: 20vh; */
  padding: 4rem 0;
}

.footer-section h2,
.footer-section h3 {
  text-transform: capitalize;
}

.footer-section input {
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 2px;
  margin: 2px;
  padding: 0 12px;
}

.footer-section button {
  height: 2rem;
  /* background-color: #68d391; */
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  color: #fff;
  border-radius: 2px;
  margin: 2px;
}

.category-div small {
  padding: 3px 8px;
  background-color: #888;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .navbar-toggler {
    outline: none;
    border: 2px solid #fff;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler i {
    color: #fff;
  }
}

@media (max-width: 576px) {
  .showcase {
    height: 250px;
  }

  .showcase .overlay {
    height: 250px;
  }
}
